<%= simple_form_for @user, :remote => true, html: { id:"popup_viral_input"} do |f| %>
  <%= f.input :password, as: :hidden, input_html:{value: "password"} %>
  <%= f.input :blog_code, as: :hidden, input_html:{value: @user.blog_code} %>
  <input type="hidden" name="survey" id="popup_input_survey" value="">
	<div class="sub">
		<div class="title"> </div>
		<div class="background2">
			<div class="nav">
				<div class="explain"> </div>
				<div class="name">
					<div class="left_image left table">
						<div class="table-cell">
							<%= image_tag("popup_input/name.png")%>
						</div>
					</div>
					<div class="right_image left">
						<input type="text" name="user[name]" id="popup_viral_input_name" maxlength="8">
					</div>
				</div>
				<div class="phone clearfix">
					<div class="left_image left table">
						<div class="table-cell">
							<%= image_tag("popup_input/phone.png")%>
						</div>
					</div>
					<div class="right_image left">
						<input type="text" name="phone1" id="popup_viral_input_phone1" maxlength="4"/><input type="text" name="phone2" id="popup_viral_input_phone2" maxlength="4"/><input type="text" name="phone3" id="popup_viral_input_phone3" maxlength="4"/>
					</div>
				</div>
				<div class="email">
					<div class="left_image left table">
						<div class="table-cell">
							<%= image_tag("popup_input/email.png")%>
						</div>
					</div>
					<div class="right_image left">
						<input type="email" name="user[email]" id="popup_viral_input_email"/>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="agree">
				<div class="left table">
					<div class="table-cell">
						<%= image_tag("popup_input/personal.png")%>
					</div>
				</div>
				<div class="left table">
					<div class="table-cell">
						<div class="nav">
							<input type="checkbox" name="agree" id="popup_viral_input_agree" />
							<label for="agree">
                <%= image_tag("popup_input/agree.png")%>
              </label>
						</div>
					</div>
				</div>
				<div class="left table privacy_button">
					<div class="table-cell">
						<a href="#popup_viral_personal_info" rel="modal:open">
              <img src='<%= asset_path("popup_input/privacy.png")%>' class="rollover" />
            </a>
					</div>
				</div>
			</div>
			<div class="sub_explain">
				<%= image_tag("popup_input/bottom.png")%>
			</div>
			<div class="button">
        <%= image_submit_tag("popup_input/button.png")%>
			</div>
		</div>
	</div>
<% end %>