<%= simple_form_for @user, :remote => true, html: {class:"popup", id:"popup_input"} do |f| %>
  <%= f.input :password, as: :hidden, input_html:{value: "password"} %>
  <input type="hidden" name="survey" id="popup_input_survey" value="">
	<div class="sub">
		<div class="title"> </div>
		<div class="background2">
			<div class="nav">
				<div class="explain"> </div>
				<div class="name">
					<div class="left_image left table">
						<div class="table-cell">
							<%= image_tag("popup_input/name.png")%>
						</div>
					</div>
					<div class="right_image left">
						<input type="text" name="user[name]" id="popup_input_name" maxlength="8" required >
					</div>
				</div>
				<div class="phone">
					<div class="left_image left table">
						<div class="table-cell">
							<%= image_tag("popup_input/phone.png")%>
						</div>
					</div>
					<div class="right_image left">
						<input type="text" name="phone1" id="popup_input_phone1" maxlength="4" required /><input type="text" name="phone2" id="popup_input_phone2" maxlength="4" required /><input type="text" name="phone3" id="popup_input_phone3" maxlength="4" required />
					</div>
				</div>
				<div class="email">
					<div class="left_image left table">
						<div class="table-cell">
							<%= image_tag("popup_input/email.png")%>
						</div>
					</div>
					<div class="right_image left">
						<input type="email" name="user[email]" id="popup_input_email" required />
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="agree">
				<div class="left table">
					<div class="table-cell">
						<%= image_tag("popup_input/personal.png")%>
					</div>
				</div>
				<div class="left table">
					<div class="table-cell">
						<div class="nav">
							<input type="radio" name="agree" id="popup_input_agree" value="1" required />
							<label for="agree">
                <%= image_tag("popup_input/agree.png")%>
              </label>
						</div>
					</div>
				</div>
				<div class="left table">
					<div class="table-cell">
						<div class="nav">
							<input type="radio" name="agree" id="popup_input_disagree" value="0" required />
							<label for="disagree">
                <%= image_tag("popup_input/disagree.png")%>
              </label>
						</div>
					</div>
				</div>
				<div class="left table">
					<div class="table-cell">
						<a href="#popup_personal_info" rel="modal:open">
              <img src="<%= asset_path('popup_input/look.png')%>" class="rollover"/>
              <%#= image_tag("popup_input/look.png", class: "rollover")%>
            </a>
					</div>
				</div>
			</div>
			<div class="sub_explain">
				<%= image_tag("popup_input/bottom.png")%>
			</div>
			<div class="button">
        <%= image_submit_tag("popup_input/button.png", onclick: "validateInput();")%>
			</div>
		</div>
	</div>
<% end %>