<script>
function share() {
	var share = {
		method: "feed",
		name: "이브자리 콜라보 이벤트",
		link: "<%= request.original_url %>",
		picture: "<%= asset_url('popup_vote/image_1.png') %>",
		caption: "이브자리 콜라보 이벤트에 참여해주세요",
		description: "이브자리 콜라보 이벤트에 참여해주세요"
	};

	FB.ui(share, function(response) {
		if(response && response.post_id) {
			alert("공유되었습니다.");
		}
		else {
			alert("공유 실패");
		}
	});
}

</script>

<div id="fb-root"> </div>
<script>
</script>
<div id="header">
	<div class="sub">
		<div class="logo left">
			<%= link_to image_tag("logo.png", alt: "evezary logo"), root_path %>
		</div>
		<div class="menu right">
      <%= link_to image_tag("top_link_event_bold.png", alt: "event"), event_path %>
			<%= image_tag("top_link_seperator.png", alt: "seperator") %>
			<%= link_to image_tag("top_link_behind.png", alt: "behind"), story_path %>
		</div>
	</div>
</div>
<div id="content">
	<div class="main_content">
		<div class="imageslider" style="position:relative;">
			<div class="images">
				<div class="image">
          <%= image_tag("skin_1.jpg", alt: "skin1") %>
				</div>
				<div class="image">
          <%= image_tag("skin_2.jpg", alt: "skin2") %>
				</div>
				<div class="image">
          <%= image_tag("skin_3.jpg", alt: "skin3") %>
				</div>
				<div class="image">
          <%= image_tag("skin_4.jpg", alt: "skin4") %>
				</div>
			</div>
			<div class="sub">
          <div class="center">
              <div id="guide_box" class="box table">
              	<div class="table-cell">
                 		<%= image_tag("event/guide_text.png", class: "guide_text") %>
                  </div>
              </div>
              <div class="box2">
              	<a href="#event_content_vote">
                  <%= image_tag("event/vote_design.png", class: "left rollover") %>
                </a>
                  <a href="#event_content_rumor">
                    <%= image_tag("event/event_rumor.png", class: "right rollover") %>
                  </a>
              </div>
          </div>
      </div>
			<%= image_tag("event/arrow_left.png", alt: "left", class: "imageslider_left rollover") %>
			<%= image_tag("event/arrow_right.png", alt: "right", class: "imageslider_right rollover") %>
		</div>
		<div class="bottom">
			<div class="nav">
                	<div><%= image_tag("event/slide_bottom_image.png") %></div>
			</div>
		</div>
	</div>
	<div class="event_content">
		<a name="event_content_vote"> </a>
		<div class="sub">
			<div class="top table">
				<div class="table-cell">
					<%= image_tag("event/content_top.png") %>
				</div>
			</div>
			<div class="middle">
				<div class="left">
					<%= image_tag("event/content_image.png") %>
					<div class="content_image_explain">
						<a href="#popup_detail" rel="modal:open" onclick="selectItem(0);">
							<%= image_tag("event/content_image_explain.png")%>
						</a>
					</div>
					<div class="vote">
						<a href="#popup_vote" rel="modal:open" onclick="selectItem(0);">
							<%= image_tag("event/vote.png", class: "rollover")%>
						</a>
					</div>
				</div>
				<div class="right">
					<%= image_tag("event/content_image2.png")%>
					<div class="content_image_explain">
						<a href="#popup_detail" rel="modal:open" onclick="selectItem(1);">
							<%= image_tag("event/content_image_explain2.png")%>
						</a>
					</div>
					<div class="vote">
						<a href="#popup_vote" rel="modal:open" onclick="selectItem(1);">
							<%= image_tag("event/vote.png", class: "rollover")%>
						</a>
					</div>
				</div>
				<div class="clear left">
					<%= image_tag("event/content_image3.png")%>
					<div class="content_image_explain">
						<a href="#popup_detail" rel="modal:open" onclick="selectItem(3);">
							<%= image_tag("event/content_image_explain3.png")%>
						</a>
					</div>
					<div class="vote">
						<a href="#popup_vote" rel="modal:open" onclick="selectItem(3);">
							<%= image_tag("event/vote.png", class: "rollover")%>
						</a>
					</div>
				</div>
				<div class="right">
					<%= image_tag("event/content_image4.png")%>
					<div class="content_image_explain">
						<a href="#popup_detail" rel="modal:open" onclick="selectItem(2);">
							<%= image_tag("event/content_image_explain4.png")%>
						</a>
					</div>
					<div class="vote">
						<a href="#popup_vote" rel="modal:open" onclick="selectItem(2);">
							<%= image_tag("event/vote.png", class: "rollover")%>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="sub table">
			<a name="event_content_rumor"> </a>
			<%= image_tag("event/content_bottom.png")%>
			<div class="button">
				<a href="#" id="fb_share">
          <%= image_tag("event/facebook.png", class: "rollover")%>
        </a>
				<a href="#popup_rumor_blog_url" rel="modal:open">
          <%= image_tag("event/blog.png", class: "rollover")%>
        </a>
			</div>
		</div>
	</div>
</div>
<div id="footer">
    	<div class="main_footer">
        	<div class="sub table">
			<div class="top table">
				<div class="table-cell">
					<%= image_tag("event/bottom_top_image.png")%>
				</div>
			</div>
			<div class="main table">
				<div class="table-cell">
					<%= image_tag("event/bottom_image.png")%>
				</div>
			</div>
            </div>
        </div>
        <div class="sub_footer">
        	<div class="sub">
            	<%= image_tag("event/bottom_text.png")%>
            </div>
        </div>
</div>

<!-- popup -->
<div id="popup_detail" class="popup">
	<div class="sub"> </div>
	<div class="popup_detail_navigator">
		<img /><img /><img />
	</div>
	<a href="#popup_vote" rel="modal:open">
    <%= image_tag("popup_detail/vote.png", alt: "vote", class:"vote rollover")%>
  </a>
</div>
<div id="popup_vote" class="popup">
	<div class="top"> </div>
	<a href="#popup_input" rel="modal:open">
    <%= image_tag("popup_vote/vote.png", alt: "vote", class:"vote rollover")%>
  </a>
	<a href="" rel="modal:close">
    <%= image_tag("popup_vote/return.png", alt: "vote", class:"return rollover")%>
  </a>
</div>
<div id="popup_rumor" class="popup">
	<div class="sub">
		<div class="title">
			<%= image_tag("popup_rumor/title.png")%>
		</div>
		<div class="background2">
			<div class="nav table">
				<div class="table-cell">
					<a href="#" onclick="share();">
            <%= image_tag("popup_rumor/facebook.png", class: "rollover")%>
          </a>
					<a href="#popup_rumor_blog_url" rel="modal:open">
            <%= image_tag("popup_rumor/blog.png", class: "rollover")%>
          </a>
				</div>
			</div>
		</div>
		<div class="bottom">
			<a href="#" rel="modal:close">
        <%= image_tag("popup_rumor/button.png", class: "rollover")%>
      </a>
		</div>
	</div>
</div>
<div id="popup_rumor_blog_url" class="popup">
	<div class="sub">
		<div class="title">
			<%= image_tag("popup_rumor_blog_url/title.png")%>
		</div>
		<div class="background2 table">
			<div class="nav table-cell">
				<div>
					OOO님의 공유 URL
				</div>
				<div>
					http://collabo.evzary.co.kr/erq123s
				</div>
			</div>
		</div>
		<div class="bottom">
			<%= image_tag("popup_rumor_blog_url/posting.png")%>
			<%= link_to image_tag("popup_rumor_blog_url/download.png"), nil %>
		</div>
	</div>
</div>
<div id="popup_personal_info" class="popup table">
	<script>
    // $("#popup_personal_info").on($.modal.BEFORE_CLOSE, function(event, modal) {
    //   setTimeout(function(){$("#popup_input").modal()}, 10);
    // });
	</script>
	<div class="table personal_agree_image">
		<%= image_tag("popup_personal_info/personal_agree.png")%>
	</div>
	<div class="personal_agree_text">
		<div class="personal_info_text">
			<%=raw render "privacy" %>
		</div>
	</div>
</div>
<div id="popup_winner" class="popup table">
	<div class="table personal_agree_image">
	</div>
	<div class="personal_agree_text">
		<div class="personal_info_text">
			Input Text
			asdf
		</div>
	</div>
</div>

<%= render "popup_input" %>