<script language='javascript' src='http://i85.icast-ad.com/track?ccd=1185&mcd=01040601&pcd=1503'></script>
<div id="sub">
	<!----------------header---------------- -->
	<div id="header">
		<div class="sub">
			<div class="logo left">
				<%= link_to image_tag("logo.png", alt: "evezary logo"), root_path %>
			</div>
			<div class="menu right">
        <%= link_to image_tag("top_link_event.png", alt: "event"), event_path %>
				<%= image_tag("top_link_seperator.png", alt: "seperator") %>
        <%= link_to image_tag("top_link_behind_bold.png", alt: "behind"), story_path %>
			</div>
		</div>
	</div>
	<!-- --------------header---------------- -->

	<!-- --------------sub_header--------------- -->
	<div id="sub_header" style="clear: both;">
		<div class="sub">
			<%= image_tag("title_logo.png", alt: "logo") %>
			<%= image_tag("title_seperator.png", alt: "seperator") %>
			<%= image_tag("title_behind.png", alt: "behind") %>
		</div>
	</div>
	<!-- --------------sub_header--------------- -->

	<!-- --------------content--------------- -->
	<div id="content">
		<div class="sub">
			<div class="top">
				<iframe id="youtube" width="1000" height="651" src="//www.youtube.com/embed/hzPMT7pQwFI?wmode=opaque" frameborder="0" allowfullscreen ></iframe>
			</div>
			<div class="main_content">
				<div class="left">
					<%= image_tag("behind_first_content.png", alt: "behind first content") %>
				</div>
				<div class="right">
					<%= image_tag("behind_first_image.png", alt: "behind first image") %>
				</div>
				<div class="clear left">
					<%= image_tag("behind_second_image.png", alt: "behind second image") %>
				</div>
				<div class="right">
					<%= image_tag("behind_second_content.png", alt: "behind second content") %>
				</div>
			</div>
		</div>
	</div>
	<!-- --------------content--------------- -->

	<!-- --------------footer--------------- -->
	<div id="footer">
		<div class="sub">
			<%= image_tag("bottom_line.png", alt: "bottom line") %>
			<%= image_tag("bottom.png", alt: "bottom") %>
		</div>
	</div>
	<!-- --------------footer--------------- -->
</div>
